h1,h2{
    color: blueviolet;
    font-size: 75px;
    border: 1px solid #000;
}

li
{
    color: red;
}

a{
    color:green;
}

.otrocolor
{
    color:yellowgreen;
}

#ex3
{
    color:aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.otraletra
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 85px;
    color: brown;
    text-decoration: underline;
}