/*declaracion de fuente, aun no se aplica*/
@font-face {
    font-family: bardaji;
    src: url(../fonts/Rubik.ttf);
  }
h1
{
    color:cadetblue;
    font-family: 'Rubik Distressed', cursive;
}
h2
{
   font-family: bardaji, cursive; 
}
#video1
{
    width: 560px; /*width="560"*/
    height: 315px; /* height="315"*/ 
}
/*width="600" height="450" style="border:0;"*/
#mapa1
{
    width: 600px;
    height: 450px;
    border: 0px;
}

.r-ttdzmv {
    padding-top: 46px!important;
}